<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
</head>
<body>
  <header>
  		<nav>
  			<ul>
  				<li>
            <a href="/">Home</a>
  				</li>
  				<li>
  					<a href="/as_you_want">Coffee?</a>
  				</li>
  				<li>
  					<a href="/contact" target="_blank">Contact</a>
  				</li>
  			</ul>
  		</nav>
  	</header>
    <div class="row">
    	<main class="clear col-md-10 .col-md-offset-1">
    		<article class="bg">
    			<header>
    				<h2>
    					WE DON'T WANT TO TALK TO YOU!!!!!!
    				</h2>
    			</header>
    			<section class="floatLeft">
    				<p>
    					Not really the first page but we can pretend for the purposes of this demonstration. After all, we lie all the time.
    				</p>
    				<p>
    					Lorem ipsum In ut minim cillum voluptate tempor do veniam in occaecat Duis.
    				</p>
    			</section>

    			<aside>
    				<img src="https://c2.staticflickr.com/6/5260/5507714089_4c85fbdca3_b.jpg" alt="don't even think about it">
    			</aside>

    		</article>
        <section class="col floatLeft">Col1</section>
    		<section class="col floatLeft">Col2</section>
    		<section class="col floatLeft">Col3</section>
    	</main>
    </div>
  	<footer>
  		<p>
  			Steal away no copyright here!
  		</p>
  	</footer>
</body>
</html>
